### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

## GITCONFIG ##
.gitconfig

## Exclude "build-time" ignore files. ##
.dockerignore
.gcloudignore

## ENVIRONMENT FILE ##
app.env

## GoLand ##
.idea/
/.idea/
