{{define "subject"}}New activation token for ihtisap{{end}}

{{define "plainBody"}}
Hi,

We're sending this e-mail on your request. This is your new activation token for ihtisap.

Please send a request to `PUT /v1/api/users/activate` endpoint with the following JSON body to activate your account:

{"token": "{{.activationToken}}"}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks,

The ihtisap Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hi,</p>
    <p>We're sending this e-mail on your request. This is your new activation token for ihtisap.</p>
    <p>Please send a request to <code>PUT /v1/api/users/activate</code> endpoint with the following JSON body to activate your account:</p>
    <pre>
        <code>
            {"token": "{{.activationToken}}"}
        </code>
    </pre>
    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The ihtisap Team</p>
</body>
</html>
{{end}}