{{define "subject"}}Password reset for ihtisap{{end}}

{{define "plainBody"}}
Hi,

We're sending this e-mail on your request. This is your password reset token for ihtisap.

Please send a request to `PUT /v1/api/users/password` endpoint with the following JSON body to reset your password:

{"token": "{{.passwordResetToken}}", "password": "new_password"}

Please note that this is a one-time use token and it will expire in 45 minutes.

Thanks,

The ihtisap Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hi,</p>
    <p>We're sending this e-mail on your request. This is your password reset token for ihtisap.</p>
    <p>Please send a request to <code>PUT /v1/api/users/password</code> endpoint with the following JSON body to reset your password:</p>
    <pre>
        <code>
            {"token": "{{.passwordResetToken}}", "password": "new_password"}
        </code>
    </pre>
    <p>Please note that this is a one-time use token and it will expire in 45 minutes.</p>
    <p>Thanks,</p>
    <p>The ihtisap Team</p>
</body>
</html>
{{end}}